<h1>
	Lisa burgeri arvustus
</h1>
<form class="example-full-width" [formGroup]="profileForm">
	<mat-form-field class="example-full-width">
		<input
			matInput
			formControlName="oneWordReview"
			placeholder="Add review"
		/>
	</mat-form-field>
</form>
<input
	(change)="onFileSelected($event)"
	type="file"
	style="display: none"
	#fileInput
/>
<button (click)="fileInput.click()">Pick File</button>
<button (click)="onUpload()">Upload!</button>
<h2>Arvustuse eelvaade</h2>
<burx-burx-card [burger]="burger"></burx-burx-card>

<hr />
{{ profileForm.value | json }}
<hr />
<hr />
