@import "../../assets/variables.scss";

.app-burx-list {
	display: block;
	padding: $padding;

	.example-full-width {
		width: 100%;
	}

	.burger-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	burx-burx-card {
		padding: $padding;
		max-width: 300px;
	}
	
}